.sss {
    text-decoration: none;
    background-color: rgb(52, 91, 196);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: 200;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 0 0 0 12px;
  }
  
  .sss:hover {
   
    background-color: #c7ccce;
    color: #00aeff;
  }
  